
.segment_header {
  /* background-color: #6200ee !important; */
  border-radius: 0 !important;
  padding: 45px !important;
}

.navbar {
  background-color: black !important;
  padding: 25px;
  border-radius: 0 !important;
}
.navbar * {
  color: white !important;
  font-size: 1.25em;
}

table tr td, table tr th {
  padding: 20px !important;
  text-align: center !important;
  font-size: 1.2em;
}

.btnLink {
  color: white;
  padding: 0 !important;
} 


/* Player details table overrides */
.tlbPlayerDets {
  width: 50% !important;
}
.tlbPlayerDets td:nth-child(odd) {
  text-align: right !important;
  font-size: 1.1em !important;
  background: lightgray;
}
.tlbPlayerDets td:nth-child(even) {
  text-align: left !important;
}









/*********************************************************************
- Proprietary
*********************************************************************/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*********************************************************************/





